.thanks_container {
  width: 100%;
  max-width: 475px;
  margin: 0 auto;

  .mobile_image {
    display: block;
    width: 112%;
    height: auto;
    top: -65px;
    position: relative;
    left: -6%;
  }

  .desktop_image {
    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }

  @media only screen and (min-width: 1024px) {
    .mobile_image {
      display: none;
    }

    .desktop_image {
      display: block;
    }
  }

  .thanks_title {
    margin-bottom: 48px;
    h2 {
      font-weight: 300;
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 12px;
      color: #494F66;

      span {
        color: #EF3340;
        font-weight: 400;
      }
    }

    p {
      margin: 0 0 48px;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #676F8F;
    }
  }

  .thanks_button {
    display: flex;
    justify-content: flex-end;

    > div {
      width: 100%;

      @media only screen and (min-width: 1024px) {
        width: auto;
      }
    }
  }
}