.layout {

  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }

  .bg-left {
    width: 100%;
    top: -20px;
    transform: skew(0, 3deg);
    position: absolute;
    overflow: hidden;
    background-color: #EF3340;
    z-index: 1;
    min-height: 450px;
    border-radius: 0 0 50px 0;

    img {
      position: absolute;
      right: -30px;
      width: auto;
      height: 340px;
      bottom: 0;
    }

    hr {
      position: absolute;
      margin: 0;
      border: .5px solid #f55d68;
      width: 100%;
      top: 64px;
      left: -4px;
      display: none;
    }

    .mobile-content {
      display: block;

      .title {
        margin: 0 0 32px;
        font-size: 48px;
        line-height: 60px;
        font-weight: 300;
        color: white;
      }
    }

    @media only screen and (min-width: 1024px) {
      left: -50px;
      width: 55%;
      border-radius: 0 0 80px 0;
      height: 100vh;
      transform: skew(-2deg, 0);
      top: 0;

      hr {
        display: block;
      }

      img {
        display: none;
      }

      .mobile-content {
        display: none;
      }
    }
  }

  &_container {
    width: 90%;
    margin: 0 auto;

    @media only screen and (min-width: 1024px) {
      max-width: 1180px;
    }

    .header {
      position: relative;
      padding: 24px 0;
      z-index: 2;
    }

    .container {
      position: relative;
      z-index: 2;
      display: block;
      padding: 20px 0;

      @media only screen and (min-width: 1024px) {
        display: flex;
        padding: 64px 0;
      }

      &_content {
        width: 50%;
        margin: 0 8% 0 0;

        .title {
          margin: 0 0 32px;
          font-size: 32px;
          line-height: 40px;
          font-weight: 300;
          color: white;
        }

        .signature {
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 12px;
          line-height: 20px;
          color: #FFD7DA;
          display: none;
        }

        .slider-container {
          margin-bottom: 150px;
          &_control {
            display: flex;
            align-items: center;

            img {
              margin-left: 10px;
              &.button_prev {
                margin-right: 10px;
                transform: rotate(180deg);
              }
            }

            p {
              color: #FC606B;
              font-size: 12px;
              line-height: 14px;

              span {
                color: white;
              }
            }
          }
        }

        ul.desktop_list {
          display: none;
          flex-wrap: nowrap;
          list-style: none;
          padding: 0;
          margin: 0 0 100px;
        }

        &_benefit-item {
          display: block;
          align-items: center;
          color: white;
          margin: 0;
          font-weight: 300;
          font-size: 16px;
          line-height: 26px;

          img {
            display: block;
            margin-right: 8px;
            margin-bottom: 8px;
            width: 20px;
            height: 20px;
          }
        }

        @media only screen and (min-width: 1024px) {
          width: 30%;

          &_benefit-item {
            display: flex;
            margin: 0 0 16px;

            img {
              display: inline-block;
              margin-bottom: 0;
            }
          }

          .slider-container {
            display: none;
          }

          ul.desktop_list {
            display: block;
          }

          .title {
            font-size: 48px;
            line-height: 60px;
          }

          .signature {
            display: block;
          }
        }
      }

      &_image {
        width: 27%;
        display: none;
        @media only screen and (min-width: 1024px) {
          display: block;
        }
      }

      &_form {
        width: 100%;
        margin: 0;

        @media only screen and (min-width: 1024px) {
          width: 25%;
          margin: 0 5%;
        }
      }
    }
  }
}